<!doctype html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Administration interface for the N4O Knowledge Graph">
  <script src="assets/node_modules/vue/dist/vue.global.js"></script>
  <script src="assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/node_modules/jquery/dist/jquery.min.js"></script>

  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="assets/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <title>N4O-KG Administration</title>
</head>

<script>
  function indexFromURL(url) {
    return parseInt(url.split('/').pop());
  }
</script>

<body>
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">
      Welcome to the N4O-KG Administration". <a href="/logout">Log out</a>
    </h4>
  </div>
  <div id="app" class=".container-fluid" user_data="{{conn}}">

    <div class="row" id="RowAll">

      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" @click="readCollection(c)" :col="c" v-for="c in collectionIDs">Collection ${c}$</a>
      </div>
      <div class="col" id="ColumData">
        <div class="Row" id="RowDataHeader"></div>
        <div class="Row" id="RowDataBody"></div>
      </div>
    </div>
  </div>

</body>

<script>



  var app_elem = document.getElementById('app');
  var user_data = app_elem.getAttribute('user_data', '');
  var collections = [];

   const collectionURL = "https://graph.nfdi4objects.net/collection/";


  function query_fuseki(query_str, f) {
    let req_str = `${user_data}?query=${query_str}`;
    fetch(req_str, { method: 'GET', headers: { 'Accept': 'application/sparql-results+json' } })
      .then(response => response.json())
      .then(js => f(js))
      .catch(err => console.error(err))
      .finally(() => { console.log('fetch done'); });
  }

  var app = Vue.createApp({
    data() {
      return {
        collectionIDs: [],
        selectedCollection: null
      }
    },
    delimiters: ["${", "}$"], // for global
    compilerOptions: { delimiters: ["${", "}$"] }, // for standalone
    methods: {
      readCollection(n) {
        let s = `<${collectionURL}${n}>`
        query_fuseki(`SELECT * WHERE { ${s} ?p ?o .}`,
          response => {
            console.log(response.results.bindings);
          });
      },
    },
    mounted() {
      document.onreadystatechange = () => {
        if (document.readyState == "complete") {
          getCollectionList();
        }
      }
    },
    created() {
      console.log('created');
    }
  }).mount('#app');

 
  function getCollectionList() {
    const p = "<http://purl.org/dc/terms/isPartOf>";
    const o = `<${collectionURL}>`
    query_fuseki(`SELECT * WHERE { ?s ${p} ${o} .} `,
      response => {
        let IDs = response.results.bindings.map(x => x.s.value);
        IDs.sort((a, b) => indexFromURL(a) - indexFromURL(b));
        app.collectionIDs = IDs.map(x => indexFromURL(x));
      });
  }

</script>

</html>